@black: #444;
@oil : #425c56;
@aqua : #a4e0dc;
@ocean : #5a9989;

@grey : #ccc;

// domain colors
@sky : #00c8ff;
@dijonnaise : #ffa34f;  // kinda light mustard :)
@chocolate : #ffe3c4;
@petal : #d685ff; //kinda pink
@grannysmith : #6fc11d; // wouldnt be a grg project w/o grannysmith
@cyan : #9befe4;
@americancheese: #ff5959; //wierd orange.
@fireengine: #de6266;