@oil : #425c56;
@aqua : #a4e0dc;
@ocean : #5a9989;

// domain colors
@sky : #00c8ff;
@dijonnaise : #ffd561;  // kinda light mustard :)
@chocolate : #5c554c;
@petal : #d685ff; //kinda pink
@grannysmith : #9bc962; // wouldnt be a grg project w/o grannysmith
@cyan : #00ffaa;
@americancheese: #ff5959; //wierd orange.