.is-challenge-module{
	.glb-content{
		//.background-image(linear-gradient(to bottom, lighten(@grannysmith, 10%) 0%, @grannysmith 100%));
		background: @grannysmith;
	}
}

// List view

.challenge-list__item{
	&:extend(.slat);
	color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.challenge-list__item__title{
  margin: 0;
}

.challenge-list__item__description{
	display: none;
}

//challenge page

.challenge{
	.transition(all 0.2s ease);
	position: fixed;
	height: calc( ~"100% - " @glb-nav-height );
	padding: 2em;
	color: @oil;
	background: #e7ffd9;
	bottom: 0;
	overflow-y: auto;
	width: 100%;
	&.is-compacted{
		padding-top: 1em;
	}
}

.challenge__title{
	.is-compacted &{
		display: none;
	}
}

.challenge__description{
	.transition(all 0.2s ease);
	overflow:hidden;
	text-overflow:ellipsis;   
	display: -webkit-box;
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
	
	&.is-expanded{
		-webkit-line-clamp: 100;
	}

	.is-compacted &{
		display: none;
	}

}
.challenge__description__expander{
	display: table;
	width: 100%;
	padding: 1em 0;

	.is-compacted &{
		display: none;
	}
}
.challenge__description__expander__line{
	display: table-cell;
	vertical-align: middle;
	hr{
		margin: 0; 
		border-top-color: @oil; 
	}
}
.challenge__description__expander__icon{
	.transition(all 0.4s ease);
	display: table-cell;
	width: 6rem;
	padding: 0 1rem;

	.is-expanded &{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

//page menu
.challenge__menu{
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.challenge__menu__item{
	padding: .5em 1.25em;
	display: inline-block;
	border-left: 1px solid @oil;
	color: lighten(desaturate(@oil, 30%), 30%);
	&:first-child{
		border-left: none;
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
	}

	&.is-active{
		color: @oil;
	}
}


// last of the activity stuff before we hand over to the avtivity module
.challenge__activity{
	margin-top: 1em;
}
.challenge__activity__launch{
	background: url(../../images/icon-activity-launch.svg);
	background-size: cover;
	padding: 50% 0;
	position: relative;

	span{
		display: none;
	}
}