.is-challenge-module{
	.glb-content{
		.background-image(linear-gradient(to bottom, lighten(@grannysmith, 10%) 0%, @grannysmith 100%));
	}
}


.challenge-list__item{
	&:extend(.slat);
	color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.challenge-list__item__title{
  margin: 0;
}

.challenge-list__item__description{
	display: none;
}