
.is-domain-list-view .glb-content{
	background-image:linear-gradient(to bottom right, #d9fff7 0%, @aqua 100%);
	//background: @aqua;
	// color: @oil;
}


.domain-list{
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 0% 50%;
	position: relative;
}
// domain slats
.domain-list__item{
	padding: 2em;
	position: relative;

}

.domain-list__item{
	.transition(all .3s);
	border-bottom-color: fade(@oil, 50%);
	.rotateY(-90deg);
	opacity: 0;
	-webkit-transform-origin: left 50%;
	position: relative;
	width: 100%;
	
	&.is-ready{
		opacity: 1;
		.rotateY(0deg);
	}

}

// color bars
.domain-list__item{
	opacity: 0;
	
	// &:before{
	// 	background: red;
	// 	content: ' ';
	// 	position: absolute;
	// 	width: 5px;
	// 	height: 100%;
	// 	height: ~"calc(100% + 1px)";
	// 	top: 0;
	// 	left: -2em;
	// }

	.domain-colors;
}

.domain-list__item__title{
	font-weight: 500;
}

.domain-list__item__description{
	margin: 0;
}