.goals{
	padding: 1em;
}

.goals__title{
	border-bottom: 1px solid fade(@oil, 20%);
	padding: 1em 0;
	img{
		width: 3.5rem;
		vertical-align: text-top;
		margin-right: .5em;
	}
}


.goals__goalset{
	list-style: none;
	margin:0;
	padding: 0;
    font-size: 1.6rem;
    label{font-weight: 500;}

	.goals__goalset{//sub goals
		padding-left: 1em;
		label{
			font-weight: 100;
		}
	}
}

.goals__goal{
	label{
		padding: .5rem;
		display: block;
		//border-bottom: 1px solid fade(@oil, 10%);
	}
}

.goals__goal{
	.goals__goal__checkbox{
		opacity: 0;
	}

	.goals__goal__checkbox:checked {
		& ~ span{
			text-decoration: line-through;
		}
	}

}

.goals__goal{  // faux checkbox
	.goals__goal__checkbox{
		& ~ span{
			&:before{
				vertical-align: text-top;
				background-size: cover;
				background: url(../../images/icon-checkbox.svg);
				display: inline-block;
				width: 2rem;
				height: 2rem;
				content: ' ';
				margin-right: .5rem;
			}
		}
	}

	.goals__goal__checkbox:checked {
		& ~ span{
			&:before{
				background: url(../../images/icon-checkbox-checked.svg);
			}
		}
	}
}