
.mystuff__goals{
	margin: 0 0 1em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1em;
}
.mystuff__goals__goal{
	.__activity-goal;
	padding-left: 3.5em;
	padding-bottom: 2rem;
}
.mystuff__goals__goal-checkbox{
	margin-left: -6rem !important;
}


.mystuff__share{
	&:extend(.card);
	padding: 1em;
	margin-bottom: 1em;
}

.mystuff__share-form{
	margin-bottom: 1em;
}

.mystuff__share-form__input{
	border: none;
	width: 100%;
	border-bottom: 2px dotted @grey;
	border-radius: 0;

}
.mystuff__share-form__submit{}

.mystuff__share-buddies{
	text-align: center;
	
}
.mystuff__share-buddy{
	-webkit-appearance: none; 
	display: inline-block;
	width: 15%;
	padding: 0;
	border: 0;
	margin: .5%;
	background: transparent;
	&:focus{
		outline: none;
	}
	img{
		max-width: 100%; 
	}
}

.mystuff__share-buddy__button{
	width: 100%;
}