
.mystuff__goals{
	margin: 0 0 1em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1em;
}
.mystuff__goals__goal{
	.__activity-goal;
	// padding-left: 3.5em;
	// padding-bottom: 2rem;
}
.mystuff__goals__goal-checkbox{
	// margin-left: -6rem !important;
}


.mystuff__share{
	&:extend(.card);
	padding: 1em;
	margin-bottom: 1em;
}

.mystuff__share-form{
	margin-bottom: 1em;
}

.mystuff__share-form__input{
	border: none;
	width: 100%;
	border-bottom: 2px dotted @grey;
	border-radius: 0;
	padding: .5em;

}
.mystuff__share-form__submit{}

.mystuff__share-buddies{
	text-align: center;
	
}
.mystuff__share-buddy{
	-webkit-appearance: none; 
	display: inline-block;
	width: 15%;
	padding: 0;
	border: 0;
	margin: .5%;
	background: transparent;
	&:focus{
		outline: none;
	}
	img{
		max-width: 100%; 
	}
}

.mystuff__share-buddy__button{
	width: 100%;
}

.mystuff__activity-history__wrapper{
	width: ~"calc(100% + 2em)";
	left: 0;
	padding-bottom: 1em;
	margin-left: -1em;
}

// Activity historymy
.mystuff__activity-history__decks{}
.mystuff__activity-history__deck{}

.activity-history__card{
	&:extend(.card);
	margin: 0 1em 1em;
}

.activity-history__card__title{
	font-weight: 500;
	font-size: 1.5rem;
	border-bottom: 1px solid @grey;
	padding: 0 0 1rem 0;
	margin-bottom: 1rem;
}

.mystuff__activity-history__pager{
	text-align: center;
	margin: 0;
	padding: 0;
}
.mystuff__activity-history__pager-item{
	-webkit-transition: all .2s;
	display: inline-block;
	border: 1px solid fade(@oil, 30%);
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	margin: 0 .5rem;

	&.is-active{
		background: fade(@oil, 30%);
	}
}