
.mystuff__goals{
	margin: 0 0 2em 0;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 1em;
}

.mystuff__goals__list{
	padding-bottom: .5em;

}
.mystuff__goals__goal{
	.__activity-goal;
	// padding-left: 3.5em;
	// padding-bottom: 2rem;
}
.mystuff__goals__goal-checkbox{
	.__activity-goal.activity-goal__icon;
	// margin-left: -6rem !important;''
}


.mystuff__share{
	&:extend(.card);
	padding: 1em;
	margin-bottom: 3em;
}

.mystuff__share-form{
	margin-bottom: 1em;
}

.mystuff__share-form__input{
	border: none;
	width: 100%;
	border-bottom: 2px dotted @grey;
	border-radius: 0;
	padding: .5em;

}
.mystuff__share-form__submit{}

.mystuff__share-buddies{
	text-align: center;
	
}
.mystuff__share-buddy{
	-webkit-appearance: none; 
	display: inline-block;
	width: 15%;
	padding: 0;
	border: 0;
	margin: .5%;
	background: transparent;
	&:focus{
		outline: none;
	}
	img{
		max-width: 100%; 
	}
}

.mystuff__share-buddy__button{
	width: 100%;
}



// Activity historymy
.mystuff__activity-history{
	margin-bottom: 2em;
}



.mystuff__rate-challenge{
	// border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 2em;
	margin-bottom: 2em;

	output{
		margin: 0 0 1rem 0;
	}
}

// related challenges

.mystuff__related-challenges{}

.mystuff__related-challenge{
	&:extend(.card);
	margin: .5em 0;
}

.mystuff__related-challenge__icon-wrapper{
	display: table-cell;
	vertical-align: middle;
	width: 3em;
	// padding: 1rem;

}
.mystuff__related-challenge__icon{
	background: @grannysmith;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	padding: 1rem;
	text-align: center;
	// display: inline-block;
	float: left;

	img{
		max-width: 100%;
		max-height: 100%;
		display: inline-block;
	}
}
.mystuff__related-challenge__text{
	display: table-cell;
	vertical-align: middle;
	font-weight: 400;
	padding-left: 1rem;

}