.slideable{
	padding: 2em 0;
	//border-top: 2px dashed fade(@oil, 50%);
}

.slideable__labels{
	overflow: hidden;
	margin: 0 0 1em 0;
}

.slideable__label{
	font-weight: 500;
	text-decoration: uppercase;
	
	&.is-left-label{
		float: left;
	}
	&.is-right-label{
		float: right;
	}
}

.slideable__slider{
	-webkit-appearance: none;
	appearance: none;
	// border: 1px solid @ocean;
	border-radius: .5rem;
	height: .5rem;
	// background: darken(@sky, 20%);
	background: @grey;
	// box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.slideable__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid @sky;
    background: @sky;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: 0 1px 3px fade(@oil, 50%)
}