.slideable{
	padding: 2em 0;
	//border-top: 2px dashed fade(@oil, 50%);
}

.slideable__labels{
	overflow: hidden;
	margin: 0 0 1em 0;
}

.slideable__label{
	font-weight: 500;
	text-decoration: uppercase;
	
	&.is-left-label{
		float: left;
	}
	&.is-right-label{
		float: right;
	}
}

.slideable__slider{
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid @oil;
	border-radius: .5rem;
	height: 2rem;
	background: lighten(@oil, 50%);
}

.slideable__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid @oil;
    background: @oil;
    height: 3rem;
    width: 2rem;
    border-radius: .5rem;
}