node_modules
temp
dist
www
.sass-cache
app/bower_components
app/scripts/common/templates.js
app/styles/css/*.css
.tmp/
*.sublime-*
*compiled.js

platforms/android/CordovaLib/bin/
platforms/android/CordovaLib/gen/
platforms/android/bin/
platforms/android/gen/
platforms/android/CordovaLib/*.properties
platforms/android/*.properties
platforms/android/assets/www
platforms/*/ant-*
platforms/*/*/ant-*
npm-debug.log
*.apk