.small{
	font-size:.95em;
	font-weight: 100;
}

.subtext{
	&:extend(.small);
	font-style: italic;
}

.big-ol{
	font-size: 1.5em;
	padding: 1.5em 1em 2em 3em; 
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: .5rem;


	li{
		margin: 0 0 1em 0;
		&:last-child{
			margin: 0;
		}

	}
}